<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Cadastro</h1>
    <% if (sucesso === '1') { %>
      <p class="mensagem-sucesso">Cadastro realizado com sucesso!</p>
    <% } %>
    
    
    
    <form action="/cadastro" method="POST">
      <label for="responsavel">Responsável:</label>
      <input type="text" name="responsavel" required>

      <label for="endereco">Endereço:</label>
      <input type="text" name="endereco" required>

      <label for="aluno">Aluno:</label>
      <input type="text" name="aluno" required>

      <label for="escola">Escola:</label>
      <input type="text" name="escola" required>

      <label for="telefone">Telefone:</label>
      <input type="tel" name="telefone" required>

      <label for="mensalidade">Mensalidade:</label>
      <input type="text" name="mensalidade" required>

      <button type="submit">Cadastrar</button>
    </form>
  </div>
</body>
</html>
