<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="stylesheet" href="/css/styles.css">  
  <title>Cadastro</title>
</head>
<body>
  <div class="container fosco">
    <h1>Cadastro</h1>
    <% if (sucesso) { %>
      <p class="mensagem-sucesso">Cadastro realizado com sucesso!</p>
    <% } %>
      
    <form action="/cadastro" method="POST">
      <label for="responsavel">Responsável:</label>
      <input type="text" name="responsavel" required>

      <label for="endereco">Endereço:</label>
      <input type="text" name="endereco" required>

      <label for="aluno">Aluno:</label>
      <input type="text" name="aluno" required>

      <label for="escola">Escola:</label>
      <input type="text" name="escola" required>

      <label for="telefone">Telefone:</label>
      <input type="tel" name="telefone" required>

      <label for="mensalidade">Mensalidade:</label>
      <input type="text" name="mensalidade" required>

      <button type="submit">Cadastrar</button>
    </form>
  </div>
  <script>
    document.querySelector('form').addEventListener('submit', function (e) {
      const telefone = document.querySelector('input[name="telefone"]').value;
      const telefoneRegex = /^\(?\d{2}\)?[\s-]?\d{4,5}-?\d{4}$/;
  
      if (!telefoneRegex.test(telefone)) {
        alert('Digite um número de telefone válido (ex: 21 91234-5678)');
        e.preventDefault(); // Impede envio
      }
    });
  </script>
  
</body>
</html>
